

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-011);
    background-image: linear-gradient(to right, var(--color-011), var(--color-033));
    color: var(--color-font2);
    margin-bottom: 50px;
}

/* Cabeça e corpo */

.container {
    background-color: var(--color-034);
    min-width: 310px;
    border-radius: 10px;
    border-style: outset;
    border-width: 2px;
    border-color: var(--color-gold);
    box-shadow: 0px 0px 30px var(--color-shadow);
    padding: 0;

}

#navegadorbarra {
    background-color: var(--color-021);
    background-image: linear-gradient(to bottom, var(--color-021), var(--color-022));
    box-shadow: 0px 0px 30px var(--color-shadow);
    border-style: outset;
    border-color: var(--color-gold);
    border-width: 2px;
    border-radius: 7px;

    ul>li>.nav-link {
        padding: 10px;
        background-color: var(--color-021);
        border-radius: 10px;
        background-image: linear-gradient(to bottom, var(--color-021), var(--color-023));
        border-style: outset;
        border-width: 1px;
        border-color: var(--color-gold);
        color: var(--color-032);
        box-shadow: 0px 0px 10px #1401245d;
    }

    ul>li>.nav-link:hover {
        background-image: linear-gradient(to bottom, var(--color-021), var(--color-022));
        border-style: inset;
        box-shadow: 0px 0px 5px #14012425;
    }

    ul>li>.nav-link:active {
        background-image: linear-gradient(to bottom, var(--color-021), var(--color-022));
        border-style: inset;
        box-shadow: 0px 0px 5px #14012425;
    }

    li {
        padding-left: 5px;
        padding: 2px;
    }
}

.listaConteudo {
    background-color: white;
    background-image: radial-gradient(white, var(--color-gold2));
    max-width: 600px;
    width: 50vw;
    min-width: 280px;
    border-radius: 10px;
    border-style: outset;
    border-color: var(--color-gold);
    border-width: 1.5px;
    box-shadow: 0px 0px 30px var(--color-shadow);
    text-shadow: 1px 0px 1px var(--color-shadow);

    li:hover {
        box-shadow: 0px 0px 10px var(--color-shadow);
        background-color: var(--color-021);
    }

    li {

        padding: 8px;
    }

    a {

        color: var(--color-012);
        padding: 5px;

    }
}

footer {
    text-align: center;
    position: fixed;
    height: 50px;
    background-color: var(--color-012);
    color: var(--color-032);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/* Listas e botões */

.btn:hover {
    background-color: var(--color-022);
    background-image: linear-gradient(to bottom, var(--color-012), var(--color-011));
    border-style: inset;
    border-color: var(--color-gold);
    color: var(--color-032);
}

.btn:active {
    color: var(--color-032);
    background-color: var(--color-012);
    border-color: var(--color-gold);
    border-style: inset;
    transition-duration: 0.1ms;
}

.btn {
    background-color: var(--color-021);
    background-image: linear-gradient(to bottom, var(--color-021), var(--color-022));
    border-style: outset;
    border-color: var(--color-gold);
    color: var(--color-032);
    box-shadow: 0px 0px 10px var(--color-shadow);

}

.botaoselecao {
    a {
        text-decoration: none;
    }

    button {
        color: var(--color-font2);
    }

    a:active {
        background-color: Transparent;
        color: var(--color-font2);
    }
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul.dropdown-menu {
    position: static;
    float: none;
    width: fit-content;
}

/* taskbar */

.taskbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-024);
    background-image: linear-gradient(to bottom, var(--color-taskbar1), var(--color-taskbar2));
    border-radius: 10px;
    padding: 5px;
    border-bottom: 1px solid #dee2e6;
}

.taskbar button {
    color: var(--color-011);
    font-weight: 900;
    background: var(--color-gold2);
    background-image: radial-gradient(var(--color-034), var(--color-gold3));
    border: outset;
    border-width: 3px;
    border-radius: 5px;
    border-color: var(--color-032);
    cursor: pointer;
}

.taskbar button:hover {
    border: inset;
    border-width: 3px;
    border-radius: 5px;
    border-color: var(--color-032);
    cursor: pointer;
}

.taskbar button:focus {
    outline: none;
    box-shadow: none;
}

.box {
    margin-bottom: 10px;
    position: relative;
    display: none;
    /* Initially hide all boxes */
}

.content {
    padding: 15px;
}

#icones{
    position: absolute;
}