:root {
    --color-011: #1e0d23;
    --color-012: #441e4f;
    --color-013: #ad49c9;

    --color-021: #919193;
    --color-022: #6a6a6b;
    --color-023: #3e3d3e;
    --color-024: #171717;

    --color-taskbar1: #54475c;
    --color-taskbar2: #1d0123;

    --color-031: #ededed;
    --color-032: #c4c0c0;
    --color-033: #a1a19e6a;
    --color-034: #252425ec;

    --color-gold: #636363;
    --color-gold2: #1d1d1d12;
    --color-gold3: #1d1d1d4a;

    --color-font1: #ffffff;
    --color-font2: #ffffff;

    --color-shadow: #14012443;

}