:root {
    --color-011: #dc7272;
    --color-012: #d94343;
    --color-013: #c90606;

    --color-021: #a2cc07;
    --color-022: #53901a;
    --color-023: #3f6e13;
    --color-024: #045e2f;

    --color-taskbar1: #fffdd0;
    --color-taskbar2: #d0cc93;

    --color-031: #f4e7e7;
    --color-032: #fffcd6;
    --color-033: #fffcd66a;
    --color-034: #f9f6e0ec;

    --color-gold: #d7a526;
    --color-gold2: #d7a52612;
    --color-gold3: #d7a5264a;

    --color-font1: #022916;
    --color-font2: #2f0404;

    --color-shadow: #14012443;
}
