body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(202, 191, 212);
    color: white;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}
#info{
    margin: 0 auto;
    display: flex;
    flex-direction: column 10px;
    justify-content: right;
    justify-content:flex-end;
}

#header2 > h1,p {
    padding-left: 30px;
}

ul#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    background-color: rgb(244, 166, 124);
    padding: 30px;
    box-shadow: 5px 10px 15px rgba(45, 2, 68, 0.181);
}
#header2 {
    margin: 0 auto;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(236, 203, 176);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.436);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.436);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.196);
    text-shadow: 0px 0px 15px rgba(244, 243, 190, 0.885);
}

.crop {
    width: 1400px;
    height: 350px;
    overflow: hidden;
}

.crop img {
    width: 1500px;
    height: 700px;
    margin: -75px 0 0 -100px;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.box {
    margin: 0 auto;
    width: 500px fit-content;
    height: fit-content;
    padding: 80px;
    background-color: bisque;
}

#foto_secundaria {
    background-color: rgb(202, 191, 212);
    padding: 40px;
    width: 400px fit-content;
    height: auto;
}

#foto_amostra {
    width: 800px;
}

.amostra_lista{
    background-color: rgba(40, 3, 53, 0.116);
    font-size: 15px;
    padding: 20px;

}

.aimg:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    box-shadow: 0px 0px 22px rgb(255, 5, 89);
    box-shadow: 0px 0px 25px rgba(244, 122, 0, 0.459);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.332);
    box-shadow: 0px 0px 34px rgba(29, 1, 41, 0.3);
    transition-duration: 2000ms;
    width: 100%;
    transition-duration: 4000ms;
}
.amostra_lista:hover{
    padding: 5%;
    font-size: 115%;
    background-color: rgba(43, 3, 56, 0.389);
    box-shadow: 5px 10px 20px rgba(19, 1, 53, 0.316);
    transition-duration: 1000ms;

}

.menu:hover{
    color:0 0 6px #fff,
        0 0 8px #fff,
        0 0 9px #fff,
        0 0 12px #E3761C,
        0 0 23px #E3761C,
        0 0 26px #008cf8,
        0 0 28px #008cf8,
        0 0 30px #008cf8;
    transition-duration: 100ms;
    text-shadow:
        0 0 7px #ffffff,
        0 0 10px #ffffff,
        0 0 21px #fff,
        0 0 42px #f80080,
        0 0 82px #f80080,
        0 0 92px #008cf8,
        0 0 28px #008cf8,
        0 0 30px #008cf8;
    transition-duration: 200ms;
    text-shadow:
        0 0 7px #ffffff,
        0 0 10px #ffffff,
        0 0 21px #fff,
        0 0 42px #f80080,
        0 0 82px #f80080,
        0 0 92px #f80080,
        0 0 28px #f80080,
        0 0 30px #f80080;
    transition-duration: 200ms;
}

#form {
    display: flex;
    width: 250px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
    color: #ffffff58;
    background-color: rgba(255, 192, 203, 0.249);
    input, button, textarea {
        background-color: rgba(255, 255, 255, 0.356);
        border-style: none;
        color: rgba(255, 255, 255, 0.234);
    }
}

#form:hover{
    color: #fff;
    box-shadow: 0px 0px 10px rgba(27, 2, 54, 0.362);
    background-color: rgb(255, 192, 203);
    transition-duration: 1000ms;  
    input, button, textarea {
        background-color: rgb(255, 255, 255);
        border-style: none;
        color: rgb(0, 0, 0);
    }
}


